{%extends 'layouts/master.html'%}

{%block title%} {{data.title}} {%endblock%}
{%block description%} {{data.description}} {%endblock%}

{%block content%}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         <div class="post-preview">
            <h2 class="post-title">
              {{ data.title}}
            </h2>
            <p class="post-meta">Posted by
                <span class="font-bold">Admin</span>
                 on {{ data.post.getDate }}</p>
            <p class="post-subtitle font-300">
              {{ data.description }}
            </p>
         </div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="post-title">Comments</h2>
        <ul>
            {%for comment in data.comments %}
              <li>{{ comment.getMessage }} - {{ comment.getDate }}
                <form method="POST" action="{%url 'posts.deleteComment'%}">
                  {%csrf_token%}
                  <button type="submit" onclick="return confirm('Are you sure to delete this comment?');" class="submit-delete">
                      <i class="fa fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </form>
              </li>
            {%endfor%}
        </ul>
        <hr>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if messages %}
        {% for result in messages%}
          <b style="color: green;">{{result}}</b>
        {% endfor %}
      {% endif%}
        <div class="card">
          <div class="card-header">
            Create a new comment
          </div>
          <div class="card-body">
            <form method="POST" action="{%url 'posts.saveComment'%}">
              {%csrf_token%}
              <div class="form-group">
                <label>Comment message:</label>
                <textarea class="form-control" name="message" value="{{ Comment.getMessage }}" rows="3" placeholder="Enter message" autocomplete="off"></textarea>
              </div>
              <input type="hidden" name="postReference_id" value="{{Post.getId}}" />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}